body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.welcome-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.start-btn {
  background-color: #A883F9;
  border: none;
  padding: 20px 40px;
  font-size: 24px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #6a0dad;
}

.quiz-screen, .result-screen {
  background-color: black;
}

.quiz-screen {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  position: relative;
}

.question-number {
  position: absolute;
  top: -40px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.question-card {
  display: none;
}

.question {
  margin-bottom: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answers label {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #444;
  border: 2px solid #A883F9;
  border-radius: 15px;
  cursor: pointer;
}

.answers label:hover {
  background-color: white;
  color: #A883F9;
  border-color: white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #A883F9;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
