body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.quiz-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
}

.logo-container img {
    width: 100px;
    margin: 0 auto 20px;
    display: block;
}

h1 {
    text-align: center;
}

.question {
    margin: 20px 0;
    text-align: left;
    display: none; /* Hide all questions by default */
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.answer {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid #A883F9;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.answer input[type="radio"] {
    display: none;
}

.answer span {
    margin-left: 10px;
}

.answer:hover, .answer input[type="radio"]:checked + span {
    background-color: white;
    color: #A883F9;
    border-color: white;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid #A883F9;
    color: #A883F9;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #6a0dad;
    color: white;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: red;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #A883F9;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

/* Display the first question initially */
.question:first-child {
    display: block;
}
