body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.welcome-screen, .quiz-screen, .result-screen {
  background-color: black;
}

.logo img {
  width: 100px;
  margin-bottom: 20px;
}

.start-btn, .next-btn, .submit-btn {
  background-color: #A883F9;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.start-btn:hover, .next-btn:hover, .submit-btn:hover {
  background-color: #6a0dad;
}

.quiz-screen {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  position: relative;
}

.question-number {
  position: absolute;
  top: -40px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.question-card {
  display: none;
}

.question {
  margin-bottom: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answers label {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #444;
  border: 2px solid #A883F9;
  border-radius: 15px;
  cursor: pointer;
}

.answers label:hover {
  background-color: white;
  color: #A883F9;
  border-color: white;
}
